.hidden_Zone
{
  height: 0px;
  width: fit-content;
  overflow: hidden;
}

.manual_Background
{
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  position:absolute;
  background-image: -moz-element(#background_Elements);
  background-repeat: repeat;
}

.klozeiten_Pic
{
    text-align: center;
    margin-top: 5%;
}

.background_Elements_Style
{
  font-size: 30pt;
}

.background_WC01_Style
{
  position: relative;
  animation-name: left_2_Right;
  animation-duration: 1s;
}
.background_WC02_Style
{
  transform: scaleX(-1);
  position: relative;
  animation-name: right_2_left;
  animation-duration: 1s;
}

@keyframes left_2_Right
{
  0%   {left:60pt; top:0px;}
  100% {left:0px; top:0px;}
}

@keyframes right_2_left
{
  0%   {left:-60pt; top:0px;}
  100% {left:0px; top:0px;}
}
